/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


.shadowborder {
	-moz-box-shadow: 0 0 5px 0px #888;
	-webkit-box-shadow: 0 0 5px 0px#888;
	box-shadow: 0 0 5px 0px #888;
}

.servicesshow2 {
	font-family:QuicksandBook-Regular;
	background-color:#F7F4F5;
	padding-top:20px;
	padding-left:20px;
	padding-bottom:20px;
	font-size:12px;
}

.input { 
	width: 200px
}

.nosearch {
	height:1000px;
}

.searchresults{
	background-color:#77BAE5;
}

.vote {
	background-color:#5F9FDC;
	display:inline;
	float:right;
	margin-top:30px;
	padding-right:5px;
	border: 3px solid #5F9FDC;	
}
.comment-ago{
	margin-top: -20px;
}

.submit-service{
	margin-top: -20px;
}

.socialsignin{
	margin-left:340px;
	margin-top:-100px;
}

.providershowinfo{
	padding:40px;
	float:left;
	display:inline;
	width:100%;
	height:140px;
	background-color:#5E9FDC;
	font-family:QuicksandBook-Regular;
	font-size:20px;
}

.providershowinfoaddress{
	padding:40px;
	float:left;
	display:inline;
	background-color:#fff;
	width:100%;
	height:140px;
}

.providershowinfoaddressname{
	font-family:QuicksandBook-Regular;
	font-size:20px;
}
.providershowinfostatstitle{
	font-family:QuicksandBook-Regular;
	font-size:20px;
}

.providershowinfostats{
	padding:40px;
	float:right;
	display:inline;
	background-color:#fff;
	width:100%;
	height:140px;
}

.providershowinfosummarytitle{
	padding:20px;
	font-family:QuicksandBook-Regular;
	font-size:20px;
}

.providershowinfosummary{
	float:left;
	font-family:QuicksandBook-Regular;
	font-size:14px;
}


.providershowmain {
	background-color:#E1E6F1;
	height:600px;
	margin-top:20px;
	border: 1px solid transparent;
	-moz-box-shadow: 0px 0px 2px #000000;
	-webkit-box-shadow: 0px 0px 2px #000000;
	box-shadow: 0px 0px 3px #000000;
}
.providershownav2{
	font-family:QuicksandBook-Regular;
	font-size:14px;
	height:30px;
	padding:20px;
			
}

.backbutton{
	float:left;
	font-color:#fff	;
}

.backbutton{
	color:#fff;
	
}
.hirebutton{
	float:right;
}

.button1{
		width: 303px;
			height: 91px;
			background-color: #d9d9d9;
			-webkit-box-shadow: 0 0 3px #181816;
			-moz-box-shadow: 0 0 3px #181816;
			box-shadow: 0 0 3px #181816;
}
.providershow2{
	font-family:QuicksandBook-Regular;
	font-size:14px;
	height:100%;
}


.providers2 {
background-color:#ffffff;
font-size:14px;
display:inline;
float: left;
width: auto;
font-family:QuicksandBook-Regular;
}

.providers2 ul {
list-style-type: none; 
margin: 0; 
padding: 0;
} 

.providers2 li { 
display:inline; 
padding:0;
margin: 0px;
}
.providers2 :link, 
.providers2 :visited,
.providers2 :hover {
font-family:QuicksandBook-Regular;
font-size:14px;
text-decoration:none;
padding: 5px 7px 5px 7px;
margin-right: 20px;
}

.providers2 :link, 
.providers2 :visited {
color:#000000;
background-color:#FFFFFF;
}

.providers2 :hover {
color:#ffffff;
background-color:#000000;
}

.providers2 #current { 
color:#29c3d6;
background-color:#08565e;
}

.googlemap{
	display:inline;
	float:right;
}

.errormsg{
	color: #FC0000;
}

.beforebottom{
	margin-top: 120px;
	height: 160px;
	background-color: #F5F5F5;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}
.providerlist{
	background-color:#D3F0F6;
	height: 100%;
	-moz-box-shadow: inset 0 0 5px #888;
	-webkit-box-shadow: inset 0 0 5px#888;
	box-shadow: inset 0 0 5px #888;
}

.providers{
	background-color:#ffffff;
	margin-bottom:10px;
	font-size:12px;
	-moz-box-shadow: 1px 1px 1px 1px #A4A1A3;
	-webkit-box-shadow: 1px 1px 1px 1px #A4A1A3;
	box-shadow: 1px 1px 2px 0px #A4A1A3;
}
.providers:hover {
	-webkit-box-shadow: 1px 1px 5px 0px #7E7E7E;
	-moz-box-shadow: 1px 1px 5px 0px #7E7E7E;
	box-shadow: 1px 1px 5px 0px #7E7E7E;
}

.leftofprovider{
	display:inline;
}

.linktoprovider{
	font-family:QuicksandBook-Regular;
	display:inline;
	font-size:16px;
}

.providershow{
	float:left;
}
.signin {
	background-color: #ffffff;
	position:absolute;
	top:20%;
	left:35%;
}
.feed{
	background-color: #ffffff;
	border: 1px solid #999999;	
}
.logo{
	display:inline;
	float:left;
	padding:20px;
	font-family:QuicksandBook-Regular;;
	font-size:46px;
	background-color:#fff;
	border: 5px solid #5F9FDC;	
}

.nav-hor {
display:inline;
padding: 25px;
float: left;
width: auto;
}

.nav-hor ul {
list-style-type: none; 
margin: 0; 
padding: 0;
} 

.nav-hor li { 
display:inline; 
padding:0;
margin: 0px;
} 

.nav-hor a:link, 
.nav-hor a:visited,
.nav-hor a:hover {
font-family:QuicksandBook-Regular;
font-size:14px;
text-decoration:none;
padding: 5px 7px 5px 7px;
margin-right: 20px;
}

.nav-hor a:link, 
.nav-hor a:visited {
color:#000000;
background-color:#FFFFFF;
}

.nav-hor a:hover {
color:#ffffff;
background-color:#000000;
}

.nav-hor a#current { 
color:#29c3d6;
background-color:#08565e;
}

.timeago{
	display:inline;
	font-size:10px;
	color:#7F7F7F;
}

.mainbody{
	float:left;
	height:100%;
	background-color:#F7F4F5;
}

.mainright{
	margin-right:20px;
	float:right;
	position:relative;
	width:325px;
	height:400px;
	background-color: #ffffff;
	border: 4px solid #77B9E4;
	box-shadow:0px 0px 1px #333333;
	-moz-box-shadow: inset 1px 1px 5px 1px #000000;
	-webkit-box-shadow: inset 1px 1px 5px 1px #000000;
	box-shadow: inset 1px 1px 5px 1px #000000;
	/*Inner elements should not cover inner shadows*/
	/*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
}

.footer {
	position:relative;
	clear:both;
	bottom:0px;
	height:100%;
	width: 100%;
	overflow:auto;
	background-color:#F5F5F5;
	-moz-box-shadow:inset 0px 0px 1px #000000;
	-webkit-box-shadow:inset 0px 0px 1px #000000;
	box-shadow:inset 0px 0px 1px #000000;
}