/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


.shadowborder {
	-moz-box-shadow: 0 0 5px 0px #888;
	-webkit-box-shadow: 0 0 5px 0px#888;
	box-shadow: 0 0 5px 0px #888;
}

.input { 
	width: 200px
}

.vote{
	margin-top: -20px;
}

.comment-ago{
	margin-top: -20px;
}

.submit-service{
	margin-top: -20px;
}

.socialsignin{
	margin-left:340px;
	margin-top: -100px;
}

.googlemap{
}

.errormsg{
	color: #FC0000;
}

.beforebottom{
	margin-top: 120px;
	height: 160px;
	background-color: #F5F5F5;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}
.providerlist{
	background-color:#D3F0F6;
	height: 100%;
	-moz-box-shadow: inset 0 0 5px #888;
	-webkit-box-shadow: inset 0 0 5px#888;
	box-shadow: inset 0 0 5px #888;
}

.mainright2{
	margin-top:-180px;
	height:400px;
	background-color: #F7FFD7;
	border: 5px solid #000000;
	-moz-box-shadow: inset 1px 1px 9px 1px #000000;
	-webkit-box-shadow: inset 1px 1px 9px 1px #000000;
	box-shadow: inset 1px 1px 9px 1px #000000;
	/*Inner elements should not cover inner shadows*/
	/*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
}

.providers{
	margin-top:1px;
	background-color:#ffffff;
	padding:10px;
	font-size:16px;
	color:#000000; 
	box-shadow:0px 0px 1px #333333
}
.providers:hover {
    background-color: #F5F5F5;
}

.signin {
	background-color: #ffffff;
	position:absolute;
	top:20%;
	left:35%;
}
.feed{
	background-color: #ffffff;
	border: 1px solid #999999;	
}

.logo{
	display:inline;
	float:left;
	padding:20px;
	font-family:enriqueta-bold;
	font-size:46px;
}

.nav-hor {
display:inline;
padding: 25px;
float: left;
width: auto;
}

.nav-hor ul {
list-style-type: none; 
margin: 0; 
padding: 0;
} 

.nav-hor li { 
display:inline; 
padding:0;
margin: 0px;
} 

.nav-hor a:link, 
.nav-hor a:visited,
.nav-hor a:hover {
font-family:opensans;
font-size:14px;
text-decoration:none;
font-weight: bold;
padding: 5px 7px 5px 7px;
margin-right: 20px;
}

.nav-hor a:link, 
.nav-hor a:visited {
color:#000000;
background-color:#FFFFFF;
}

.nav-hor a:hover {
color:#ffffff;
background-color:#000000;
}

.nav-hor a#current { 
color:#29c3d6;
background-color:#08565e;
}

.topbar{
}

.timeago{
	display:inline;
	font-size:10px;
	color:#7F7F7F;
}

.mainbody{
	float:left;
	height:700px;
	background-color:#77BAE5;
	color:#000000;
}

.mainright{
	height:400px;
	background-color: #F7FFD7;
	border: 5px solid #000000;
	-moz-box-shadow: inset 1px 1px 9px 1px #000000;
	-webkit-box-shadow: inset 1px 1px 9px 1px #000000;
	box-shadow: inset 1px 1px 9px 1px #000000;
	/*Inner elements should not cover inner shadows*/
	/*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
}

.footer {
	clear:both;
	bottom:0px;
	position:fixed;
	height:70px;
	width: 100%;
	overflow:auto;
	background-color:#000000;
	-moz-box-shadow:0px 0px 3px #000000;
	-webkit-box-shadow:0px 0px 3px #000000;
	box-shadow:0px 0px 3px #000000;
}